<h1>Feed-Search</h1>

<div class="form-group">
    <label>Feed-Url:</label>
    <input [(ngModel)]="feedUrl" class="form-control">
</div>
<div class="form-group">
    <button mat-raised-button color="secondary" (click)="fetch()" [disabled]="!feedUrl">Fetch Newsfeed</button>
</div>
<div *ngIf="feed.items.length > 0" class="form-group">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>

<hr>

<div *ngFor="let item of feed.items">
    <app-feeditem-card [item]="item"></app-feeditem-card>
</div>